.App {
  text-align: center;
  max-width: 120vh;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

/* Navbar */

.navbar {
  background-color: #00438d;
  padding-top: 2.75vh;
  padding-bottom: 2.75vh;
  padding-left: 25vh;
  padding-right: 25vh;
  display: block;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  font-size: 2.25vh;
}

/* Home */

.main-content {

}

.main-content-title {
  letter-spacing: 0.50vh;
  font-family: 'Bungee Shade', cursive;
  margin-top: 60px;
  font-size: 5.5vh;
  -webkit-animation: colorchange 8s infinite alternate;
}

@keyframes colorchange {
    0%   {
      color: #000000;
    }

    25%  {
      color: #00438d;
    }

    50%  {
      color: #ab0c0c;
    }

    100% {
      olor: #ffa700;
    }

}

.main-content-body {
  margin-top: 50px;
}

.main-content-body p {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 2.25vh;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
