@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .App {
    text-align: center;
    max-width: 300px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
}




.App {
  text-align: center;
  max-width: 200vh;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

/* Navbar */

.navbar {
  background-color: #00438d;
  padding-top: 2.75vh;
  padding-bottom: 2.75vh;
  padding-left: 25vh;
  padding-right: 25vh;
  display: block;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vh;
  font-size: 2.25vh;
  text-decoration: none;
}

.navbar a:hover {
  color: red;

}
.active {
  color: red;
}

/* Home */

.main-content {

}

.main-content-title {
  letter-spacing: 0.50vh;
  font-family: 'Bungee Shade', cursive;
  margin-top: 60px;
  font-size: 5.5vh;
  -webkit-animation: colorchange 8s infinite alternate;
}

@keyframes colorchange {
    0%   {
      color: #000000;
    }

    25%  {
      color: #00438d;
    }

    50%  {
      color: #ab0c0c;
    }

    100% {
      olor: #ffa700;
    }

}

.main-content-body {
  margin-top: 20px;
  padding-bottom: 90px;
}

.main-content-body p {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 2.25vh;
}

/* DoctorList */

.doctors-list {
  margin-top: 3vh;
  margin-bottom: 9vh;
}


/* selected doctor */
.myButton {
  position: relative;
  appearance: none;
  background: #f72359;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 0.25vh;
}




/* reports */
.reports ul {
  list-style-type: none;
  padding: 0;

  color: red;
}
/* Footer */

.footer {
  position: fixed;
  background-color: #00438d;
  text-align: center;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 200vh;
  color: white;
}
